<br>
<h2> WISHLIST DETAILS </h2>
<div>
    <div class="container">
        
<form class="in-line" #data="ngForm"  (ngSubmit)="addWisheditems(data)">
    <div>   
        <br>
    <label>PRODUCT ID</label>
    <input type="text" class="form-control" name="productId" ngModel  #productIdCtrl=ngModel required >
    <div *ngIf="productIdCtrl.errors!=null && productIdCtrl.errors.required">
        required
    </div>
</div>    
<div>
    <br>
    <label>PRODUCT NAME</label>
    <input type="text" class="form-control" name="productName" ngModel  #productNameCtrl=ngModel required >
    <div *ngIf="productNameCtrl.errors!=null && productNameCtrl.errors.required">
        required

    </div>    
</div>    
<br>
<div>
    <button class="btn btn-success" type="submit">Add Product</button>
</div>
</form>
</div>
</div>

<div *ngIf="addedWish!==null">
<h3>Product  Added</h3>  
<br> ID= {{addedWish.productId}}
<br> ProductName={{addedWish.productName}}
</div>
 
<br>
<a href=""  class="btn btn-primary" role="button" routerLink="../wishlist-mgt">Previous</a>